<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="/images/pikachu.png" alt="My_Logo" style="width:100px;" >

  </head>
  <body>
    {{{body}}}
  </body>
</html>
